# Use the private registry for @elastisafe packages
@elastisafe:registry=https://repo.compilatio.net/api/v4/groups/11/-/packages/npm/

# TODO: replace with environment variable when possible
# Authenticate using the gitlab group access token
//repo.compilatio.net/api/v4/groups/11/-/packages/npm/:_authToken="glpat-zaYVCExxFeEWFdYYjzGAr286MQp1OjJlCA.01.0y140h45d"